@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Open+Sans&display=swap');

:root {
  --font-body: 'Open Sans', sans-serif;
  --font-header: 'Encode Sans Expanded', sans-serif;

  /* Standard */
  --teal-dark: #007370;
  /* Hover & dropdowns */
  --teal-light: #009a96;
  /* dropdowns hoverstate*/
  --teal-lightest: #00cdc8;

  /* For links */
  --blue-dark: #0078b4;
  /* Links hover*/
  --blue-light: #00a0ff;

  --grey: #abaaaa;

  /* Global style */
  --purple: #621360;
  --purple-dark: #3c023c;
}

/* Elements */
body {
  font-family: var(--font-body);
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
  color: var(--teal-dark);
}

a {
  color: var(--blue-dark);
  text-decoration: none !important;
}

a:hover {
  color: var(--blue-light);
  text-decoration: none;
}

input {
  border-radius: 0;
}
/* /Elements */

/* Utils */
.flexContainer {
  display: flex;
}

.container>.flexContainer>.flexItem {
  flex-grow: 1;
  padding: 24px 15px;
}

.borderLeft {
  border-left: 1px solid var(--teal-light);
}

/* /Utils */

/* Components */
/* Top Nav*/

nav.navbar,
nav.navbar .dropdown-menu {
  background-color: var(--teal-dark);
}

nav.navbar .dropdown-menu a {
  padding: 1rem 3rem;
}

.navbar .navbar-nav > li > a {
  font-weight: 600;
  font-size: 13px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .dropdown.open > a,
.navbar .dropdown-menu > li > a:hover {
  background-color: var(--teal-light);
}
/* /Top Nav*/

/* KB Search */
.btn.btn-primary {
  border-radius: 0;
  background-color: var(--teal-dark);
}

.btn.btn-primary:hover {
  background-color: var(--teal-light);
}
/* /KB Search */

/* Footers */

footer,
footer a,
footer a:hover {
  color: #fff;
  padding: 1rem 2rem;
}

footer .flexContainer a {
	padding: 1rem;
}

footer li {
  padding: 1rem 2rem 1rem 0;
}

footer .link-icon{
	color: #fff;
	background-color: var(--teal-dark);
	margin: 0;
}

footer .link:hover {
	background-color: var(--teal-dark);
}

footer .link:hover .link-icon,
footer .link:active .link-icon,
footer .link:focus .link-icon {
  filter: none;
}

footer ul {
  list-style-type: none;
}

footer.student {
  background-color: var(--teal-dark);
  padding: 0 24px;
}

footer.student .flexContainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  justify-content: space-evenly;
}

footer.student .flexContainer ul {
	padding-left: 0;
}

footer.globalFooter {
  background-color: var(--purple);
}
/* /Footers */

/* SVG images */
.link--instagram .link-icon {
  background-image: url("/images/icons/instagram.svg");
  transform: scale(1.5);
}

.link--linkedin .link-icon {
  background-image: url("/images/icons/linkedin.svg");
  transform: scale(1.5);
}